.Home__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 88px;
  justify-content: center;
  align-items: center;
}

.semiHeader__container {
  width: 100%;
  background-color: #27850e;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home__paddingSemiHeader {
  /* padding-left: 17%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  /* padding-right: 17%; */
  height: 100%;
}

.semiHeader__title {
  font-family: "Roboto_Condensed";
  font-size: 26px;
  color: #fff;
}

.contactUs__us {
  color: #b3b3b3;
  font-size: 12px;
  font-family: "open-Sans";
  font-style: italic;
  margin-right: 25px;
}

.contactUs__email {
  color: #fff;
  font-size: 12px;
  font-family: "open-Sans-bold";
}

.contactUs__semiHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HomeDetail__container {
  display: flex;
  flex-direction: row;
  width: 1280px;
  justify-content: space-between;
}

.main__homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  border-right: 1px solid #27850e;
}

.main__paddingHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 8%;
  padding-top: 40px;
  width: 92%;
  padding-bottom: 40px;
}

.mainImage__setting {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 25px 20px -20px;
  margin-bottom: 40px;
}

.juniorImage__setting {
  width: 100%;
}

.crossLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  color: #27850e;
  font-size: 11px;
  font-family: "open-Sans-bold";
  letter-spacing: 2px;
}

.crossLeftLine {
  background-color: #27850e;
  height: 1px;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.crossRightLine {
  width: 40%;
  height: 1px;
  background-color: #27850e;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mission__detail {
  color: #777777;
  font-size: 20px;
  font-family: "Roboto_Condensed_Light";
}

.viewAllVideos__button {
  border: none;
  background-color: #27850e;
  padding: 3px 7px;
  color: #fff;
  font-size: 13px;
  font-family: "open-Sans-bold";
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.membershipBenefit__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.membershipBenefit__box {
  display: flex;
  flex-direction: column;
  width: 31%;
}

.benefitBox__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.tennisBallImage__setting {
  width: 41px;
  height: 41px;
}

.benefitBox__title p {
  color: #444444;
  font-size: 22px;
  font-family: "Roboto_condensed_light";
}

.benefitBox__detail {
  margin-top: 10px;
}

.benefitBox__detail p {
  margin-top: 2px;
  margin-bottom: 3px;
  font-size: 13px;
  font-family: "open-Sans-bold";
  color: #777777;
}

.tennisFairPlay__url {
  background-color: #27850e;
  color: white;
  font-size: 13px;
  font-family: "open-Sans-bold";
  padding: 3px 7px;
}

.tennisImage__setting {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.winCupImage__setting {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
}

.aboutDetail__firstpart {
  color: #777777;
  font-size: 13px;
  font-family: "open-Sans-bold";
  margin: 11.04px 0;
}

.aboutDetail__list {
  width: 95%;
  color: #777777;
  font-size: 13px;
  font-family: "open-Sans-bold";
}

.aboutDetail__list li {
  margin-top: 3px;
}

.shopMain__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.shopMain__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.shopMain__title p {
  color: #777777;
  font-size: 11px;
  font-family: "open-Sans-bold";
  margin: 0px 0px 11px;
}

.shopMain__title select {
  border: 1px solid #27850e;
  width: 190px;
  color: #777;
  font-size: 13px;
  font-family: "open-Sans-bold";
  padding: 5px 0px 5px 9px;
}

.shopMain__title select:focus {
  outline: none;
}

.shopMain__productList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Product__container {
  width: 32%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.productImage__setting {
  margin-top: 5px;
  width: 100%;
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.productInfo__title {
  margin-top: 3px;
  margin-bottom: 7px;
  color: #bbbbbb;
  font-size: 11.5px;
  font-family: "open-Sans-bold";
  text-transform: uppercase;
}

.productInfo__titleOne {
  margin-top: 2px;
  margin-bottom: 3px;
  color: #444444;
  font-size: 14px;
  font-family: "open-Sans-bold";
  text-transform: uppercase;
}

.productInfo__titleTwo {
  margin-top: 2px;
  margin-bottom: 3px;
  color: #444444;
  font-size: 14px;
  font-family: "open-Sans-bold";
}

.product__price {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.productPrice__value {
  color: #444444;
  font-size: 17px;
  font-family: "open-Sans-bold";
  margin-bottom: 5px;
}

.productPrice__button {
  margin-top: 0;
  margin-bottom: 0;
}

.productPrice__button button {
  color: #5e5e5e;
  font-size: 11px;
  font-family: "open-Sans-bold";
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #8d8d8d;
  border-radius: 2px;
  cursor: pointer;
  width: 50%;
  text-transform: uppercase;
}

.productPrice__quickView {
  color: #777777;
  font-size: 13px;
  font-family: "open-Sans";
  margin-top: 2px;
  margin-bottom: 0px;
}

.juniorStories__main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.juniorStories__title {
  color: #444444;
  font-family: "Roboto_Condensed_Light";
  font-size: 22px;
  margin: 33px 0px 20px;
}

.juniorStories__detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.juniorMembers__imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.juniorMemberImage__setting {
  height: 100%;
  width: 100%;
}

.juniorMembers__name {
  color: #444444;
  font-size: 22px;
  font-family: "Roboto_Condensed_Light";
  text-transform: uppercase;
  margin: 10px 0 10px;
  padding: 20px 0 0 10px;
}

.juniorMembers__address {
  color: #bbbbbb;
  font-size: 11.05px;
  font-family: "open-Sans-bold";
  margin: 10px 0 5px;
  padding: 10px 0 0 10px;
}

.juniorMembers__message {
  font-size: 11.05px;
  display: flex;
  flex-direction: row;
  color: #bbbbbb;
  align-items: center;
  font-family: "open-Sans-bold";
  margin-left: 10px;
}

.juniorMembers__message p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.juniorMembers__message img {
  margin-left: 5px;
  width: 12px;
  height: 12px;
}

.juniorMembers__details {
  color: #777777;
  font-size: 13px;
  font-family: "open-Sans-bold";
  margin: 11.05px 10px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.juniorMembers__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #f7f7f7;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.juniorMembers__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.juniorMembers__likes img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.juniorMembers__likes p {
  color: #bbbbbb;
  font-size: 11.05px;
  font-family: "open-Sans-bold";
}

.juniorMembers__bottomReadMore {
  color: #27850e;
  font-size: 11.05px;
  font-family: "open-Sans-bold";
}

.memberImage__hoverSetting {
  position: absolute;
  top: 0;
  height: 99%;
  width: 100%;
  background-color: #33333300;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff00;
  font-size: 24px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.memberImage__hoverSetting:hover {
  background-color: #33333333;
  color: #fff;
  transition: all 0.3s ease;
}

.juniorMembers__container {
  display: flex;
  flex-direction: column;
  width: 32%;
  border: 1px solid #27850e;
}

.doubleTennis__title {
  color: #444444;
  font-size: 28px;
  font-family: "Roboto_Condensed_Light";
  margin: 15px 0px;
  width: 100%;
}

.healthAndWellness__title {
  color: #444444;
  font-size: 36px;
  font-family: "Roboto_Condensed_Light";
  margin: 10px 0px 25px;
  width: 100%;
}

.healthAndWellness__subTitle {
  color: #444444;
  font-size: 28px;
  font-family: "Roboto_Condensed_Light";
  margin: 10px 0px 20px;
  width: 100%;
}

.healthAndWellness__subSubTitle {
  color: #444444;
  font-size: 22px;
  font-family: "Roboto_Condensed_Light";
  margin: 20px 0px 0px;
  width: 100%;
}

.SeniorsTennis__title {
  color: #444444;
  font-size: 36px;
  font-family: "Roboto_Condensed_Light";
  margin: 10px 0px 25px;
  width: 100%;
}

.SeniorsTennis__paragraph {
  color: #777777;
  font-size: 13px;
  font-family: "open-Sans-bold";
  margin: 11.05px 0px;
  width: 100%;
}

.seniors__blockQuote {
  padding: 10px 20px;
  margin: 20px 0;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #f7f7f7;
  display: inline-block;
}

.seniors__blockQuote p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  color: #777777;
  font-size: 16px;
  font-family: "open-Sans-bold";
}

.KidsAndTeensTennis__title {
  color: #444444;
  font-size: 28px;
  font-family: "Roboto_Condensed_Light";
  margin: 30px 0px 20px;
  width: 100%;
}

.kidsTeensTennis__block {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: #27850e 1px solid;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.SponsorshipOppBlock_side {
  width: 33%;
  margin-bottom: 40px;
}

.SponsorOpp__bottomContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 40px;
}

.sponsor__space {
  margin-bottom: 50px;
}

.kidsTeensTennisBlock_side {
  width: 50%;
}

.kidsTeensSide__container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.SponsorshipOppSide__container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.kidsTeensSide__round {
  width: 30%;
}

.SponsorshipOppSide__round {
  width: 40%;
}

.SponsorshipOppSide__round div {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  border: 1px solid #28850e00;
  border-radius: 999px;
  display: block;
  transition: all 0.5s ease-in-out;
}

.SponsorshipOppSide__container:hover .SponsorshipOppSide__round div {
  transition: all 0.5s ease-in-out;
  border: 1px solid #28850e;
}

.SponsorshipSide__paragraph {
  display: flex;
  flex-direction: column;
}

.SponsorshipSidePara__title {
  color: #444444;
  font-size: 22px;
  font-family: "Roboto_Condensed_Light";
  margin: 33px 0px 20px;
}

.SponsorshipSidePara__details {
  display: flex;
  flex-direction: column;
  color: #777777;
  font-size: 13px;
  font-family: "open-Sans-bold";
  margin: 11.05px 0px;
}

.SponsorshipSidePara__details p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.kidsTeensSide__round div {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  border: 1px solid #28850e00;
  border-radius: 999px;
  display: block;
  transition: all 0.5s ease-in-out;
}

.kidsTeensSide__container:hover .kidsTeensSide__round div {
  transition: all 0.5s ease-in-out;
  border: 1px solid #28850e;
}

.kidsTeensSide__container p {
  color: #444444;
  font-family: "Roboto_Condensed_Light";
  font-size: 33px;
  margin-top: 45px;
  margin-bottom: 45px;
  width: 70%;
  line-height: 1.4;
}

.kidsTeensSide__container a {
  width: 70%;
  margin-top: 20px;
}

.kidsBackImage__setting {
  width: 100%;
}

.aTag__setting {
  text-decoration: none;
  color: #0061b7;
  transition: all 0.3s ease;
}

.aTag__setting__home {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.aTag__setting__home:hover {
  color: #fffc40;
  transition: all 0.3s ease;
}

.aTag__setting:hover {
  color: #27850e;
  transition: all 0.3s ease;
}

.wheelchair__subtitle {
  color: #444444;
  font-size: 18px;
  font-family: "Roboto_Condensed_Light";
  margin: 10px 0px;
  width: 100%;
}

.wheelchair__referenceSite {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.wheelchair__referenceSite a {
  margin: 7px 0px;
  font-size: 13px;
  font-family: "open-Sans-bold";
}

.SponsorshipOpportunities__title {
  color: #444444;
  font-size: 36px;
  font-family: "Roboto_Condensed_Light";
  margin: 10px 0px 25px;
  width: 100%;
}

/* .membershipB__container {
  display: flex;
  flex-direction: row;
} */

.membershipB__container img {
  margin-left: 10px;
  /* width: 300px;
  height: 700px; */
  float: right;
}

.membershipB__LeftContaier {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.membershipB__subtitle {
  color: #444444;
  font-size: 22px;
  font-family: "Roboto_Condensed_Light";
  margin: 33px 0px 20px;
}

.membershipB__becomeStep {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.membershipB__becomeStep p {
  color: #777777;
  font-size: 13px;
  font-family: "Open-Sans-bold";
  margin-top: 2px;
  margin-bottom: 1px;
}

.membershipLevel__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.membershipCard__container {
  width: 50%;
  border: #27850e 1px solid;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.3s ease;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 0;
}

.membershipCard__round {
  width: 88px;
  height: 88px;
  position: absolute;
  border-radius: 999px;
  border: #27850e 1px solid;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  left: calc(50% - 44px);
  top: 56px;
}

.membershipCard__round p {
  color: #333333;
  font-size: 12px;
  font-family: "open-Sans-bold";
  margin: 0px 0px;
}

.membershipCardRound__money {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.membershipCardRound__money p {
  color: #777777;
  font-size: 16px;
  font-family: "open-Sans-bold";
  margin: 0px 2px;
}

.membership__moneyValue {
  color: #777777;
  font-size: 32px;
  font-family: "open-Sans-bold";
  margin: 0 0;
}

.membershipCard__title {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #fff;
  justify-content: center;
}

.membershipCard__price {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #fff;
}

.membershipCard__listContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #fff;
}

.membershipCard__listContainer p {
  color: #333333;
  font-size: 12px;
  font-family: "open-Sans-bold";
}

.membershipCard__interactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #fff;
}

.membershipCard__interactContainer p {
  color: #333333;
  font-size: 12px;
  font-family: "open-Sans-bold";
}

.membershipCard__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  height: 90px;
  transition: all 0.3s ease;
}

.membershipCard__button button {
  background-color: #27850e;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-family: "open-Sans-bold";
  padding: 8px 15px;
  cursor: pointer;
}

.membershipCard__container:hover .membershipCard__button {
  height: 130px;
  transition: all 0.3s ease;
}

.membershipCard__container:hover {
  margin-top: 0;
  margin-bottom: 0;
  transition: all 0.3s ease;
}

.membershipCard__container:hover .membershipCard__title p {
  font-weight: bold;
}

.membershipCard__container:hover .membershipCardRound__money p {
  color: #0061b7;
}

.membershipCard__container:hover .membership__moneyValue {
  color: #0061b7;
}

.membershipCard__container:hover .membershipCard__round {
  border: #27850e 2px solid;
}

.membershipCard__title p {
  color: #0061b7;
  font-size: 18px;
  font-family: "Roboto_Condensed_Light";
  margin-top: 20px;
}

.TennisCourts__SearchContainer {
  display: flex;
  width: 100%;
  padding: 10px 0;
  margin: 20px 0 0;
  border-top: 1px #e1e1e1 solid;
  border-bottom: 1px #e1e1e1 solid;
}

.TennisCourts__searchSubContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 8px;
  border: solid 1px #e1e1e1;
}

.TennisCourts__searchMain {
  width: 42%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #27850e;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}

.TennisCourts__searchMain input {
  width: 85%;
  color: #777777;
  font-size: 15px;
  font-family: "open-Sans-bold";
  border: none;
}

.TennisCourts__searchMain input:focus {
  outline: none;
}

.TennisCourts__searchMain img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.TennisCourts__searchSubContainer button {
  width: 12%;
  background-color: #27850e;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  font-family: "open-Sans-bold";
  padding: 7px 3px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.TennisCourts__searchSubContainer button:hover {
  background-color: #3cc018;
  color: #f3ff4f;
  transition: all 0.3s ease;
}

.TennisCourts__placeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
}

.TennisCourtCard__container {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.TennisCourts__mainImage {
  width: 100%;
  border-radius: 5px;
}

.TennisCourtCard__titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.courts__redirectOthersite {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}

.TennisCourtCard__title {
  color: #0061b7;
  font-family: "Roboto_Condensed";
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.TennisCourtCard__title:hover {
  color: #27850e;
  transition: all 0.3s ease;
}

.tennisCourt__ratingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tennisCourtRating__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tennisCourtRating__left img {
  width: 20px;
  height: 20px;
}

.tennisCourt__heartImage {
  width: 14px;
  height: 15px;
  margin-right: 5px;
}

.tennisCourt__detail {
  color: #777;
  font-size: 12px;
  font-family: "open-Sans-bold";
  width: 100%;
  position: relative;
}

.tennisCourt__readMore {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0 0 0;
  background-image: linear-gradient(to bottom, transparent, #fff);
  cursor: pointer;
  color: #0061b7;
}

.tournaments__container {
  display: flex;
  background-color: antiquewhite;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}

@media (max-width: 1350px) {
  .HomeDetail__container {
    width: 1170px;
    transition: all 0.3s ease;
  }

  .Home__paddingSemiHeader {
    width: 1170px;
    transition: all 0.3s ease;
  }
}

@media (max-width: 1230px) {
  .HomeDetail__container {
    width: 970px;
    transition: all 0.3s ease;
  }

  .Home__paddingSemiHeader {
    width: 970px;
    transition: all 0.3s ease;
  }
}

@media (max-width: 1050px) {
  .HomeDetail__container {
    width: 870px;
    transition: all 0.3s ease;
  }

  .Home__paddingSemiHeader {
    width: 870px;
    transition: all 0.3s ease;
  }
}
