.Home__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 88px;
  justify-content: center;
  align-items: center;
}

.semiHeader__container {
  width: 100%;
  background-color: #27850e;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home__paddingSemiHeader {
  /* padding-left: 17%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  /* padding-right: 17%; */
  height: 100%;
}

.semiHeader__title {
  font-family: "Roboto_Condensed";
  font-size: 26px;
  color: #fff;
}

.contactUs__us {
  color: #b3b3b3;
  font-size: 12px;
  font-family: "open-Sans";
  font-style: italic;
  margin-right: 25px;
}

.contactUs__email {
  color: #fff;
  font-size: 12px;
  font-family: "open-Sans-bold";
}

.contactUs__semiHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HomeDetail__container {
  display: flex;
  flex-direction: row;
  width: 1280px;
  justify-content: space-between;
}

.main__homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  border-right: 1px solid #27850e;
}

.main__paddingHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 8%;
  padding-top: 40px;
  width: 92%;
  padding-bottom: 40px;
}

.mainImage__setting {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 25px 20px -20px;
  margin-bottom: 40px;
}

.juniorImage__setting {
  width: 100%;
}

.crossLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  color: #27850e;
  font-size: 11px;
  font-family: "open-Sans-bold";
  letter-spacing: 2px;
}

.crossLeftLine {
  background-color: #27850e;
  height: 1px;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.crossRightLine {
  width: 40%;
  height: 1px;
  background-color: #27850e;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mission__detail {
  color: #777777;
  font-size: 20px;
  font-family: "Roboto_Condensed_Light";
}

.viewAllVideos__button {
  border: none;
  background-color: #27850e;
  padding: 3px 7px;
  color: #fff;
  font-size: 13px;
  font-family: "open-Sans-bold";
  margin-top: 20px;
  margin-bottom: 20px;
}

.membershipBenefit__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.membershipBenefit__box {
  display: flex;
  flex-direction: column;
  width: 31%;
}

.benefitBox__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.tennisBallImage__setting {
  width: 41px;
  height: 41px;
}

.benefitBox__title p {
  color: #444444;
  font-size: 22px;
  font-family: "Roboto_condensed_light";
}

.benefitBox__detail {
  margin-top: 10px;
}

.benefitBox__detail p {
  margin-top: 2px;
  margin-bottom: 3px;
  font-size: 13px;
  font-family: "open-Sans-bold";
  color: #777777;
}

.tennisFairPlay__url {
  background-color: #27850e;
  color: white;
  font-size: 13px;
  font-family: "open-Sans-bold";
  padding: 3px 7px;
}

.tennisImage__setting {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.winCupImage__setting {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
}

.aboutDetail__firstpart {
  color: #777777;
  font-size: 13px;
  font-family: "open-Sans-bold";
  margin: 11.04px 0;
}

.aboutDetail__list {
  width: 95%;
  color: #777777;
  font-size: 13px;
  font-family: "open-Sans-bold";
}

.aboutDetail__list li {
  margin-top: 3px;
}

.shopMain__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.shopMain__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.shopMain__title p {
  color: #777777;
  font-size: 11px;
  font-family: "open-Sans-bold";
  margin: 0px 0px 11px;
}

.shopMain__productList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Product__container {
  width: 32%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.productImage__setting {
  margin-top: 5px;
  width: 100%;
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productInfo__title {
  margin-top: 3px;
  margin-bottom: 7px;
  color: #bbbbbb;
  font-size: 11.5px;
  font-family: "open-Sans-bold";
  text-transform: uppercase;
}

.productInfo__titleOne {
  margin-top: 2px;
  margin-bottom: 3px;
  color: #444444;
  font-size: 14px;
  font-family: "open-Sans-bold";
  text-transform: uppercase;
}

.productInfo__titleTwo {
  margin-top: 2px;
  margin-bottom: 3px;
  color: #444444;
  font-size: 14px;
  font-family: "open-Sans-bold";
}

.product__price {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.productPrice__value {
  color: #444444;
  font-size: 17px;
  font-family: "open-Sans-bold";
  margin-bottom: 5px;
}

.productPrice__button {
  margin-top: 0;
  margin-bottom: 0;
}

.productPrice__button button {
  color: #5e5e5e;
  font-size: 11px;
  font-family: "open-Sans-bold";
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #8d8d8d;
  border-radius: 2px;
  cursor: pointer;
  width: 50%;
  text-transform: uppercase;
}

.productPrice__quickView {
  color: #777777;
  font-size: 13px;
  font-family: "open-Sans";
  margin-top: 2px;
  margin-bottom: 0px;
}

.juniorStories__main {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 100%;
}

.juniorStories__title {
  color: #444444;
  font-family: "Roboto_Condensed_Light";
  font-size: 22px;
  margin: 33px 0px 20px;
}

.juniorStories__detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
  width: 100%;
}

.juniorMemberImage__setting {
  width: 100%;
}

.juniorMembers__container {
  display: flex;
  flex-direction: column;
  width: 32%;
  border: 1px solid #27850e;
}

.doubleTennis__title {
  color: #444444;
  font-size: 28px;
  font-family: "Roboto_Condensed_Light";
  margin: 15px 0px;
  width: 100%;
}

.healthAndWellness__title {
  color: #444444;
  font-size: 36px;
  font-family: "Roboto_Condensed_Light";
  margin: 10px 0px 25px;
  width: 100%;
}

.healthAndWellness__subTitle {
  color: #444444;
  font-size: 28px;
  font-family: "Roboto_Condensed_Light";
  margin: 10px 0px 20px;
  width: 100%;
}

.healthAndWellness__subSubTitle {
  color: #444444;
  font-size: 22px;
  font-family: "Roboto_Condensed_Light";
  margin: 20px 0px 0px;
  width: 100%;
}

.SeniorsTennis__title {
  color: #444444;
  font-size: 36px;
  font-family: "Roboto_Condensed_Light";
  margin: 10px 0px 25px;
  width: 100%;
}

.SeniorsTennis__paragraph {
  color: #777777;
  font-size: 13px;
  font-family: "open-Sans-bold";
  margin: 11.05px 0px;
  width: 100%;
}

.seniors__blockQuote {
  padding: 10px 20px;
  margin: 20px 0;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #f7f7f7;
  display: inline-block;
}

.seniors__blockQuote p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  color: #777777;
  font-size: 16px;
  font-family: "open-Sans-bold";
}

.KidsAndTeensTennis__title {
  color: #444444;
  font-size: 28px;
  font-family: "Roboto_Condensed_Light";
  margin: 30px 0px 20px;
  width: 100%;
}

.kidsTeensTennis__block {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: #27850e 1px solid;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.kidsTeensTennisBlock_side {
  width: 50%;
}

.kidsTeensSide__container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.kidsTeensSide__round {
  width: 30%;
}

.kidsTeensSide__round div {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  border: 1px solid #28850e00;
  border-radius: 999px;
  display: block;
  transition: all 0.5s ease-in-out;
}

.kidsTeensSide__container:hover .kidsTeensSide__round div {
  transition: all 0.5s ease-in-out;
  border: 1px solid #28850e;
}

.kidsTeensSide__container p {
  color: #444444;
  font-family: "Roboto_Condensed_Light";
  font-size: 33px;
  margin-top: 45px;
  margin-bottom: 45px;
  width: 70%;
  line-height: 1.4;
}

.kidsTeensSide__container a {
  width: 70%;
  margin-top: 20px;
}

.kidsBackImage__setting {
  width: 100%;
}

.aTag__setting {
  text-decoration: none;
  color: #0061b7;
  transition: all 0.3s ease;
}

.aTag__setting:hover {
  color: #27850e;
  transition: all 0.3s ease;
}

.wheelchair__subtitle {
  color: #444444;
  font-size: 18px;
  font-family: "Roboto_Condensed_Light";
  margin: 10px 0px;
  width: 100%;
}

.wheelchair__referenceSite {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.wheelchair__referenceSite a {
  margin: 7px 0px;
  font-size: 13px;
  font-family: "open-Sans-bold";
}

.SponsorshipOpportunities__title {
  color: #444444;
  font-size: 36px;
  font-family: "Roboto_Condensed_Light";
  margin: 10px 0px 25px;
  width: 100%;
}

@media (max-width: 1350px) {
  .HomeDetail__container {
    width: 1170px;
    transition: all 0.3s ease;
  }

  .Home__paddingSemiHeader {
    width: 1170px;
    transition: all 0.3s ease;
  }
}

@media (max-width: 1230px) {
  .HomeDetail__container {
    width: 970px;
    transition: all 0.3s ease;
  }

  .Home__paddingSemiHeader {
    width: 970px;
    transition: all 0.3s ease;
  }
}

@media (max-width: 1050px) {
  .HomeDetail__container {
    width: 870px;
    transition: all 0.3s ease;
  }

  .Home__paddingSemiHeader {
    width: 870px;
    transition: all 0.3s ease;
  }
}
