nav {
  background-color: #fff;
  height: 88px;
  width: 100%;
  position: fixed;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "open-Sans-bold";
  font-size: 12px;
  z-index: 10;
}

nav.scrolled {
  height: 44px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoImage__setting {
  height: 88px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logoImage__setting__small {
  height: 44px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  width: 1280px;
}

.Navbar__lists {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list__setting__basic {
  margin-right: 12px;
  margin-left: 12px;
  margin-top: 0px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #444444;
  text-decoration: none;
}

.navbarImage__setting {
  margin-right: 12px;
  margin-left: 12px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.downImage__setting {
  width: 9px;
  height: 9px;
  margin-left: 5px;
}

.dropdown__content__basic {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #27850e;
  width: 190px;
  left: -15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown__content {
  top: 88px;
}

.dropdown__content__small {
  top: 44px;
}

.dropdown__content__small div {
  color: #444444;
  padding: 7px 18px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-family: "open-Sans-bold";
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #ced7df55;
}

/* .dropdown__content__small div:last-child {
  border-bottom: none;
} */

.dropdown__content__small div:hover {
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}

.dropdown__content div {
  color: #171717;
  padding: 7px 18px;
  text-decoration: none;
  display: flex;
  font-size: 12px;
  font-family: "open-Sans-bold";
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #dae1e755;
}

/* .dropdown__content div:last-child {
  border-bottom: none;
} */

.dropdown__content div:hover {
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}

.LinkTo_setting {
  text-decoration: none;
}

.LinktoSelected {
  display: flex;
  background-color: #f5f5f5;
}

.community__setting {
  position: relative;
}

.members__setting {
  position: relative;
}

.tournaments__setting {
  position: relative;
}

.community__setting:hover .dropdown__content {
  display: block;
}

.community__setting:hover .dropdown__content__small {
  display: block;
}

.members__setting:hover .dropdown__content {
  display: block;
}

.members__setting:hover .dropdown__content__small {
  display: block;
}

.tournaments__setting:hover .dropdown__content {
  display: block;
}

.tournaments__setting:hover .dropdown__content__small {
  display: block;
}

.membership__awardOnly {
  flex-direction: row;
  align-items: center;
}

.membership__awardOnly img {
  width: 13px;
  height: 13px;
  margin-right: 3px;
}

.membership__awardOnly p {
  margin-top: 0;
  margin-bottom: 0;
}

.list__setting__basic:hover {
  box-shadow: inset 0 2px 0 0 #27850e;
  transition: all 0.3s ease;
}

.scale__active {
  box-shadow: inset 0 2px 0 0 #27850e;
}

.list__setting {
  height: 88px;
}

.list__setting__small {
  height: 44px;
}

.Footer__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  background-color: #171717;
  align-items: center;
  justify-content: center;
  color: #515151;
  font-size: 13px;
  font-family: "open-Sans-bold";
  letter-spacing: 0.3px;
}

.Main__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
}

.scrollToTop__container {
  position: fixed;
  right: 0;
  bottom: 2%;
  background-color: #00000033;
  transition: all 0.3s ease;
  border-radius: 3px;
  cursor: pointer;
}

.scrollToTop__container:hover {
  background-color: #00000055;
}

.scrollToTop__container.visible {
  transition: all 0.3s ease;
  right: 2%;
}

.scrollToTop__container.invisible {
  transition: all 0.3s ease;
  right: -2%;
}

.upImage__setting {
  width: 24px;
  height: 24px;
  padding: 12px 14px;
}

@media (max-width: 1350px) {
  .nav__container {
    width: 1170px;
    transition: all 0.3s ease;
  }
}

@media (max-width: 1230px) {
  .nav__container {
    transition: all 0.3s ease;
    width: 970px;
  }
}

@media (max-width: 1050px) {
  .nav__container {
    transition: all 0.3s ease;
    width: 870px;
  }
}
