.Login__container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 21%;
  padding-left: 4%;
}

.loginContainer__title {
  font-size: 18px;
  font-family: "Roboto_Condensed";
  color: #0061b7;
}

.login__setting {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginSetting__title {
  font-size: 18px;
  font-family: "Roboto_Condensed";
  color: #444444;
  margin: 10px 0px;
}

.loginInput__container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.loginInput__container p {
  font-size: 12.09px;
  font-family: "open-Sans";
  margin: 10px 0px 5px;
  color: #777777;
}

.loginInput__container input {
  border: 1px solid #27850e;
  height: 30px;
  margin: 0px 0px 12.9px;
  padding: 0px 5px;
}

.loginInput__container input:focus {
  outline: none;
}

.loginRememberMe__setting {
  display: flex;
  flex-direction: row;
}

.loginRememberMe__setting p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  font-family: "open-Sans-bold";
  font-size: 12.09px;
  color: #777777;
}

.loginButton__container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.loginButton {
  background-color: #f7f7f7;
  margin: 3px 10px 3px 0px;
  padding: 5px 20px;
  border: 1px solid #27850e;
  border-radius: 3px;
  color: #777777;
  font-family: "open-Sans-bold";
  font-size: 12px;
  cursor: pointer;
}

.registerButton {
  background-color: #fff;
  margin: 3px 10px 3px 0px;
  padding: 5px 20px;
  color: #0061b7;
  font-family: "open-Sans-bold";
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.LoginReference__site {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.LoginReference__title {
  color: #444444;
  font-size: 18px;
  font-family: "Roboto_Condensed";
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0px;
  border-bottom: 1px solid #27850e;
}

.LoginReference__name p {
  color: #777777;
  font-size: 12.09px;
  padding: 10px 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "open-Sans";
  border-bottom: #27850e 1px solid;
}

.LoginReference__name .LinkTo_setting div {
  width: 100%;
  color: #777777;
  font-size: 12.09px;
  padding: 10px 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "open-Sans";
  border-bottom: #27850e 1px solid;
}

.LoginSocial__site {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.LoginSocial__site p {
  color: #444444;
  font-size: 18px;
  font-family: "Roboto_Condensed";
  margin: 10px 0px;
}

.LoginSocial__image {
  display: flex;
  flex-direction: row;
}

.LoginSocial__image img {
  width: 32px;
  height: 32px;
}
