body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App__container {
  position: relative;
}

@font-face {
  font-family: "open-Sans";
  src: local("open-Sans"),
    url(../src/fonts/Open_Sans/static/OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "open-Sans-bold";
  src: local("open-Sans-bold"),
    url(../src/fonts/Open_Sans/static/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto_Condensed";
  src: local("Roboto_Condensed"),
    url(../src/fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf)
      format("truetype");
}

@font-face {
  font-family: "Roboto_Condensed_Light";
  src: local("Roboto_Condensed_Light"),
    url(../src/fonts/Roboto_Condensed/static/RobotoCondensed-Light.ttf)
      format("truetype");
}
